/* global */
@font-face {
    font-family: LuloClean;
    src: url(assets/fonts/Lulo\ Clean\ One.otf);
  }

@import url(assets/parallax.js);

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


/* Section-1 */
.section-1 {
    background-image: url(assets/images/red\ mountains\ background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 667px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* Title */
.maintext {
    z-index: 5;
    color: #ffffff;
    position: absolute;
    margin: 0 auto;
    height: auto (+10px);
    text-align: center;
    width: 930px;

    text-shadow: 0 0 30px #000000, 0 0 30px #000000;
    font-family: "LuloClean";
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 12px;
    backdrop-filter: blur(6px);
    padding: 20px;
}




/* Section-2 */
.section-2 {
    background-color: #D2D2D3;
    height: 700px;
}
.ProfilePic {
    content: url(assets/images/mblaisIRL.png);
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 3em;
}

.testtext {
    margin: auto;
    margin-top: 30em;
}


.section-3 {
    background-color: #FEFFFF;
    height: 900px;
}

.section-4 {
    background-color: #353638;
    height: 930px;
}

.section-5 {
    background-color: #F4F5F7;
    height: 595px;
}

.section-6 {
    background-color: #919191;
    height: 380px;
}












/* animations / other stuff */
/* hover for project links */
/*
.section-2 a:hover{
    font-size: 1.3rem;
    color: #7DC9E8;
    transition: 0.5s;
}
*/

/* hover for social icons */
/*
.section-1 a:hover{
    font-size: 1.7rem;
    color: #7DC9E8;
    transition: 0.5s;
}

.IconImage {
    content: url(assets/images/mblaisIRL.png);
    position: relative;
    width: 200px;
}
.NameTitle {
    color: white;
    font-size: 1;
}
*/



/*
.Footer {
    color: tomato;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
*/


/*
.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%,0);
    transition: 0.01s ease-out;
    z-index: -1;
}

.cursorMiddle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #7DC9E8;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%,0);
    transition: 0.08s ease-out;
    z-index: -1;
}
*/

/* Blur Box */
/*
.blurred-box{
    position: absolute;
    width: 70%;
    height: 15%;
    background: inherit;
  }
  .blurred-box:after{
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    filter: blur(6px);
  }
  */